{
    "github_client_id":"put-it-here",
    "github_client_secret":"put-it-here",
    "app_github_org":"ucsb-cs56-f18",
    "http.port":"8081",
    "server.port":"8082",
    "server.ssl.key-password":"password",
    "server.ssl.key-store":"classpath:KeyStore.jks",
    "server.ssl.key-store-type":"JKS",
    "baseUrl":"https://127.0.0.1:8082",
    "salt":"fill-this-with-random-characters"
}
